:host {
  width: 100%;
  height: 100%;
}

.landing {
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 calc(3 * var(--spacing-s1));
  text-align: center;

  h1 {
    font-size: var(--font-size-super-large);
    font-weight: var(--font-weight-bold);
  }

  h3 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-normal);
    line-height: 1.3;
  }

  .social-links {
    margin-top: var(--spacing-s2);
    .link {
      margin-right: calc(2 * var(--spacing-s2));
    }
  }
}
