:host {
  --content-width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: var(--content-width);

  .title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-s1);
    position: relative;
    display: inline-block;
  }

  .description {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-s1);
    line-height: 1.6;
  }

  .tags {
    app-simple-tag {
      margin-right: var(--spacing-s1);
      margin-bottom: var(--spacing-s1);
    }
  }
}
