<div class="card">
  <div class="title">
    <ng-container *ngIf="!!headingUrl; else textHeading">
      <app-simple-router-link [url]="headingUrl">
        <span class="border-bottom-reveal">{{
          heading
        }}</span></app-simple-router-link
      >
    </ng-container>
  </div>
  <div class="description">{{ body }}</div>
  <div class="tags">
    <app-simple-tag
      class="tag"
      *ngFor="let tag of tags"
      [tag]="tag"
    ></app-simple-tag>
  </div>
</div>

<ng-template #textHeading>
  <span>{{ heading }}</span>
</ng-template>
