:host {
  width: 100%;
  height: 100%;
}

.projects-container {
  padding: var(--spacing-s3) var(--spacing-s10);

  app-project-entry {
    --content-width: 60%;
    margin-bottom: calc(var(--spacing-s1) * 5);

    &.align-right {
      --align-content: flex-end;
      --align-text: right;
    }
  }
}
