:host {
  --logo-height: 100px;
  --logo-width: 100px;
}

.logo {
  height: var(--logo-height);
  width: var(--logo-width);
  background: url("/assets/face.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
