:host {
  // Spacing Variables
  --spacing-s1: 1rem;
  --spacing-s1-half: calc(var(--spacing-s1) * 0.5);
  --spacing-s2: calc(var(--spacing-s1) * 2);
  --spacing-s3: calc(var(--spacing-s1) * 3);
  --spacing-s10: calc(var(--spacing-s1) * 10);

  // Font Variables
  --font-family: Menlo, "DejaVu Sans Mono", Consolas, "Lucida Console",
    monospace;

  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-large: 18px;
  --font-size-xl: 25px;
  --font-size-super-large: 40px;

  --font-line-height: 1.1;

  --font-weight-normal: 400;
  --font-weight-bold: 600;

  // Color Variables
  --color-black: #000000;
  --color-yellow: yellow;
}

:host {
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  line-height: var(--font-line-height);
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: var(--spacing-s1) var(--spacing-s3);
}

@media only screen and (max-width: 767px) {
  .app {
    flex-direction: column;
  }
}
