/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fcf9f8;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-outline {
  outline: none;

  &:hover,
  &:focus,
  &:visited {
    outline: none;
  }
}

.border-bottom-reveal {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-1 * var(--spacing-s1-half));
    width: 0;
    border-bottom: 3px solid black;
    transition: all 0.2s linear;
  }

  &:hover::after {
    width: 100%;
  }
}

.centred-content-container {
  padding: var(--spacing-s3) var(--spacing-s10);
}
