:host {
  --content-width: 100%;
  --align-text: var(--align-text);
  width: 100%;
  display: flex;
  justify-content: var(--align-content);
  position: relative;

  &::before {
    content: "";
    background: transparent;
    position: absolute;
    top: 0;
    height: calc(100% - 1px);
    width: 50%;
    pointer-events: none;
    border-color: var(--color-secondary);
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
}

:host(.align-right) {
  &::before {
    border-left-width: 1px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    left: 0;
  }
}

:host(:not(.align-right)) {
  &::before {
    border-right-width: 1px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    right: 0;
  }
}

.parent {
  width: 100%;
}
.entry {
  display: flex;
  flex-direction: column;
  width: var(--content-width);
  text-align: var(--align-text);
  padding-bottom: var(--spacing-s3);
  padding-top: var(--spacing-s3);
}
